@font-face {
  font-family: 'fontello';
  src: url('./fontello/fontello.eot?47757105');
  src: url('./fontello/fontello.eot?47757105#iefix') format('embedded-opentype'),
    url('./fontello/fontello.woff2?47757105') format('woff2'),
    url('./fontello/fontello.woff?47757105') format('woff'),
    url('./fontello/fontello.ttf?47757105') format('truetype'),
    url('./fontello/fontello.svg?47757105#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?47757105#fontello') format('svg');
  }
}
*/
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basic-alarm:before {
  content: '\e800';
} /* '' */
.icon-basic-attachment:before {
  content: '\e801';
} /* '' */
.icon-basic-bell:before {
  content: '\e802';
} /* '' */
.icon-basic-briefcase:before {
  content: '\e803';
} /* '' */
.icon-basic-build:before {
  content: '\e804';
} /* '' */
.icon-basic-calendar:before {
  content: '\e805';
} /* '' */
.icon-basic-camera:before {
  content: '\e806';
} /* '' */
.icon-basic-cart-outline:before {
  content: '\e807';
} /* '' */
.icon-basic-cart:before {
  content: '\e808';
} /* '' */
.icon-basic-chatbox-fill:before {
  content: '\e809';
} /* '' */
.icon-basic-chatbox-outline:before {
  content: '\e80a';
} /* '' */
.icon-basic-chatbubble-ellipses:before {
  content: '\e80b';
} /* '' */
.icon-basic-chatbubble-fill:before {
  content: '\e80c';
} /* '' */
.icon-basic-chatbubble-outline:before {
  content: '\e80d';
} /* '' */
.icon-basic-chatcheck:before {
  content: '\e80e';
} /* '' */
.icon-basic-chatclose:before {
  content: '\e80f';
} /* '' */
.icon-basic-close:before {
  content: '\e810';
} /* '' */
.icon-basic-copy1:before {
  content: '\e811';
} /* '' */
.icon-basic-copy2:before {
  content: '\e812';
} /* '' */
.icon-basic-dot:before {
  content: '\e813';
} /* '' */
.icon-basic-download:before {
  content: '\e814';
} /* '' */
.icon-basic-edit1:before {
  content: '\e815';
} /* '' */
.icon-basic-edit2:before {
  content: '\e816';
} /* '' */
.icon-basic-ellipsis-horizontal:before {
  content: '\e817';
} /* '' */
.icon-basic-ellipsis-vertical:before {
  content: '\e818';
} /* '' */
.icon-basic-face-id:before {
  content: '\e819';
} /* '' */
.icon-basic-fingerprint:before {
  content: '\e81a';
} /* '' */
.icon-basic-flash:before {
  content: '\e81b';
} /* '' */
.icon-basic-hambuger:before {
  content: '\e81c';
} /* '' */
.icon-basic-headphones:before {
  content: '\e81d';
} /* '' */
.icon-basic-heart-fill:before {
  content: '\e81e';
} /* '' */
.icon-basic-heart-outline:before {
  content: '\e81f';
} /* '' */
.icon-basic-home:before {
  content: '\e820';
} /* '' */
.icon-basic-hourglass:before {
  content: '\e821';
} /* '' */
.icon-basic-image:before {
  content: '\e822';
} /* '' */
.icon-basic-layer:before {
  content: '\e823';
} /* '' */
.icon-basic-link:before {
  content: '\e824';
} /* '' */
.icon-basic-loader:before {
  content: '\e825';
} /* '' */
.icon-basic-location:before {
  content: '\e826';
} /* '' */
.icon-basic-lock:before {
  content: '\e827';
} /* '' */
.icon-basic-mail-open:before {
  content: '\e828';
} /* '' */
.icon-basic-mail:before {
  content: '\e829';
} /* '' */
.icon-basic-options:before {
  content: '\e82b';
} /* '' */
.icon-basic-phone:before {
  content: '\e82c';
} /* '' */
.icon-basic-search:before {
  content: '\e82d';
} /* '' */
.icon-basic-server:before {
  content: '\e82e';
} /* '' */
.icon-basic-setting:before {
  content: '\e82f';
} /* '' */
.icon-basic-share:before {
  content: '\e830';
} /* '' */
.icon-basic-shield-checkmark:before {
  content: '\e831';
} /* '' */
.icon-basic-unlock:before {
  content: '\e834';
} /* '' */
.icon-basic-upload:before {
  content: '\e835';
} /* '' */
.icon-check-add-fill:before {
  content: '\e836';
} /* '' */
.icon-check-add-outline:before {
  content: '\e837';
} /* '' */
.icon-check-alert-fill:before {
  content: '\e838';
} /* '' */
.icon-check-alert-outline:before {
  content: '\e839';
} /* '' */
.icon-check-ban-outline:before {
  content: '\e83a';
} /* '' */
.icon-check-check1:before {
  content: '\e83b';
} /* '' */
.icon-check-check2:before {
  content: '\e83c';
} /* '' */
.icon-check-checkmark-fill:before {
  content: '\e83d';
} /* '' */
.icon-check-checkmark-outline:before {
  content: '\e83e';
} /* '' */
.icon-check-close-outline:before {
  content: '\e83f';
} /* '' */
.icon-check-empty:before {
  content: '\e840';
} /* '' */
.icon-check-hlep-fill-1:before {
  content: '\e841';
} /* '' */
.icon-check-hlep-fill:before {
  content: '\e842';
} /* '' */
.icon-check-hlep-outline:before {
  content: '\e843';
} /* '' */
.icon-check-info-fill:before {
  content: '\e844';
} /* '' */
.icon-check-info-outline:before {
  content: '\e845';
} /* '' */
.icon-check-rectangle-checkbox-blank:before {
  content: '\e846';
} /* '' */
.icon-check-rectangle-checkbox-fill:before {
  content: '\e847';
} /* '' */
.icon-check-rectangle-checkbox-outline:before {
  content: '\e848';
} /* '' */
.icon-check-smile-outline:before {
  content: '\e849';
} /* '' */
.icon-check-triangle-warning-fill:before {
  content: '\e84a';
} /* '' */
.icon-check-triangle-warning-outline:before {
  content: '\e84b';
} /* '' */
.icon-arrows-down-contained:before {
  content: '\e84c';
} /* '' */
.icon-arrows-down:before {
  content: '\e84d';
} /* '' */
.icon-arrows-downleft:before {
  content: '\e84e';
} /* '' */
.icon-arrows-downright:before {
  content: '\e84f';
} /* '' */
.icon-arrows-downup:before {
  content: '\e850';
} /* '' */
.icon-arrows-left-contained:before {
  content: '\e851';
} /* '' */
.icon-arrows-left:before {
  content: '\e852';
} /* '' */
.icon-arrows-leftright:before {
  content: '\e853';
} /* '' */
.icon-arrows-link-external:before {
  content: '\e854';
} /* '' */
.icon-arrows-logout:before {
  content: '\e855';
} /* '' */
.icon-arrows-refresh:before {
  content: '\e856';
} /* '' */
.icon-arrows-right-contained:before {
  content: '\e857';
} /* '' */
.icon-arrows-right:before {
  content: '\e858';
} /* '' */
.icon-arrows-rightleft:before {
  content: '\e859';
} /* '' */
.icon-arrows-rotate:before {
  content: '\e85a';
} /* '' */
.icon-arrows-up-contained:before {
  content: '\e85b';
} /* '' */
.icon-arrows-up:before {
  content: '\e85c';
} /* '' */
.icon-arrows-updown:before {
  content: '\e85d';
} /* '' */
.icon-arrows-upleft:before {
  content: '\e85e';
} /* '' */
.icon-arrows-upright:before {
  content: '\e85f';
} /* '' */
.icon-basic-caret-back:before {
  content: '\e860';
} /* '' */
.icon-basic-caret-forward:before {
  content: '\e861';
} /* '' */
.icon-caret-down:before {
  content: '\e862';
} /* '' */
.icon-caret-up:before {
  content: '\e863';
} /* '' */
.icon-chevron-double-down:before {
  content: '\e864';
} /* '' */
.icon-chevron-double-left:before {
  content: '\e865';
} /* '' */
.icon-chevron-double-right:before {
  content: '\e866';
} /* '' */
.icon-chevron-double-up:before {
  content: '\e867';
} /* '' */
.icon-chevron-down-contained:before {
  content: '\e868';
} /* '' */
.icon-chevron-down-large:before {
  content: '\e869';
} /* '' */
.icon-chevron-down-small:before {
  content: '\e86a';
} /* '' */
.icon-chevron-left-contained:before {
  content: '\e86b';
} /* '' */
.icon-chevron-left-large:before {
  content: '\e86c';
} /* '' */
.icon-chevron-left-small:before {
  content: '\e86d';
} /* '' */
.icon-chevron-right-contained:before {
  content: '\e86e';
} /* '' */
.icon-chevron-right-large:before {
  content: '\e86f';
} /* '' */
.icon-chevron-right-small:before {
  content: '\e870';
} /* '' */
.icon-chevron-up-contained:before {
  content: '\e871';
} /* '' */
.icon-chevron-up-large:before {
  content: '\e872';
} /* '' */
.icon-chevron-up-small:before {
  content: '\e873';
} /* '' */
.icon-asset-calculator:before {
  content: '\e874';
} /* '' */
.icon-asset-card:before {
  content: '\e875';
} /* '' */
.icon-asset-chartbar:before {
  content: '\e876';
} /* '' */
.icon-asset-minus:before {
  content: '\e877';
} /* '' */
.icon-asset-piechart1:before {
  content: '\e878';
} /* '' */
.icon-asset-piechart2:before {
  content: '\e879';
} /* '' */
.icon-asset-plus:before {
  content: '\e87a';
} /* '' */
.icon-asset-trending-down:before {
  content: '\e87b';
} /* '' */
.icon-asset-trending-up:before {
  content: '\e87c';
} /* '' */
.icon-asset-wallet:before {
  content: '\e87d';
} /* '' */
.icon-asset-account:before {
  content: '\e87e';
} /* '' */
.icon-asset-accounts:before {
  content: '\e87f';
} /* '' */
.icon-asset-discount:before {
  content: '\e881';
} /* '' */
.icon-asset-realestate:before {
  content: '\e882';
} /* '' */
.icon-asset-loan:before {
  content: '\e883';
} /* '' */
.icon-ellipsis-contained:before {
  content: '\e884';
} /* '' */
.icon-umbrella:before {
  content: '\e885';
} /* '' */
.icon-bang:before {
  content: '\e900';
} /* '' */
